.weak__item {
  padding: 10px;
  min-width: 310px;
  background-color: #161616;
  border-radius: 10px;
  /* min-height: 155px; */

  border: 1px dashed #ffffff;
  margin-right: 15px;
  position: relative;
  overflow: hidden;
  max-height: 425px;
}

.weak__img {
  width: 30px;
  height: 30px;
  fill: white;
  margin-right: 20px;
}
#weak__dots {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#weak__dots * {
  stroke: white;
}
.weak__title {
  padding: 0 10px;
  border-radius: 10px;
  font-size: 30px;
  display: flex;
  align-items: center;
  width: 350px;
  height: 40px;
  background: #242424;
}

.weak__header {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #929090;
  font-size: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}

.weak__elements {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}
.weak__elements-title {
  font-size: 20px;
  color: rgb(99, 95, 95);
}

.weak__elements::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}
.weak__elements:-webkit-scrollbar-track {
  background: orange; /* color of the tracking area */
}
.weak__elements::-webkit-scrollbar-thumb {
  background-color: #252525; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

.weak__element {
  position: relative;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  width: 95%;
  height: 40px;
  background: #252525;
}
.weak__today {
  color: #0381ff;
}

.weak__element:hover .weak__buttons {
  transition: all 0.1s;
  right: 10px;
}

.weak__buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -100px;
  height: 20px;
  width: 50px;
  display: flex;
  justify-content: space-between;
  transition: all 0.4s;
}
