.month {
	width: 100%;
	height: 100vh;
	padding: 60px 30px 30px 30px;
}
.month__title {
	padding: 0 10px;
	border-radius: 10px;
	font-size: 30px;
	display: flex;
	align-items: center;
	width: 350px;
	height: 40px;
	background: #242424;
}
.month__img {
	width: 30px;
	height: 30px;
	margin-right: 20px;
}
.month__img {
	fill: white;
}
.month__container {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
}
.month__items {
	margin-top: 10px;
	width: 1500px;
	height: 700px;
	display: flex;
	flex-wrap: wrap;
}

.month__header {
	display: flex;
	justify-content: space-between;
	width: 1500px;
	align-items: center;
}

.month__current-month {
	font-size: 25px;
	color: #0381ff;
}
.month__nav {
	display: flex;
	width: 400px;
	display: flex;
	justify-content: space-between;
}
.month__button {
	font-size: 20px;
	padding: 0 20px;
	height: 40px;
	background: none;
	border: 1px dashed white;
	border-radius: 10px;
}
.month__days {
	height: 30px;
	width: 1500px;
	background-color: #242424;
	display: flex;
	justify-content: space-between;
	border-radius: 10px;
}
.month__day {
	text-align: center;
	width: 212px;
	font-size: 25px;
	color: grey;
}

.month__item_current-day {
	background: rgba(3, 129, 255, 0.2);
}
