.nav {
  padding-top: 20px;
  width: 100%;
}
.nav__title {
  font-size: 25px;
}
.nav__container {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid white;
}
.nav__link {
  height: 35px;
  font-size: 20px;
  color: rgb(139, 133, 133);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.nav__img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  fill: white;
}

.active {
  color: #0381ff;
}
.active svg {
  fill: #0381ff;
}
