.day__items {
  padding-right: 20px;
  margin-top: 30px;
  width: 100%;
  height: 575px;
  overflow-y: auto;
}
.day__items::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}
.day__items:-webkit-scrollbar-track {
  background: orange; /* color of the tracking area */
}
.day__items::-webkit-scrollbar-thumb {
  background-color: #252525; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}
.day__items-title {
  font-size: 35px;
  color: rgb(99, 95, 95);
}
